body {
  box-sizing: border-box;
}

#div1 {
  display: block;
  height: 75px;
  background-color: rgb(30, 20, 45);
  width: auto;
}

#div1 h2 {
  color: #a2d14bff;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}
.btn {
  width: 150px;
  height: 27px;
  margin-left: 1170px;
}
.heading-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}
#heading {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.image-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}
.main div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.main div p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.main img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.five-zones h4 {
  text-align: center;
}
